body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

.centerbox {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #aaa;
}

#title {
    margin-top: 0;
    font-size: 2em;
    font-weight: bold;
}

#current-time {
    font-size: 4em;
    margin-bottom: 20px;
}

.center {
    text-align: center;
}

#notice {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#message {
    font-size: 1.2em;
    color: green;
    margin-bottom: 20px;
}

.options {
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    font-size: 1.2em;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

#comments {
    font-size: 1.2em;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

#file {
    font-size: 1.2em;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.logout {
    font-size: 1.2em;
    margin-top: 20px;
    text-decoration: none;
    color: #8B0000;
}
