@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
    min-height: 100%;
}

body {

    text-align: center;
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    
}

.centerbox {


    /* background-color: #fff;
    padding: 20px;
    border: 2px solid rgb(65, 65, 65);
    border-radius: 5px;
    
    padding-right: auto;
    padding-left: auto;


    width: max-content;
    height: max-content;

    display: block;
    margin-left: auto;
    margin-right: auto;

    
     */


    width: max-content;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #aaa;

}

.options {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;

}

.action {

    text-decoration: none;
    background: #363636;
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px #aaa;

    user-select: none;

}

.action:enabled:hover {

    background: #363650;
    cursor: pointer;

}


.action:enabled:active {

    background-color: rgb(81, 127, 81);

}

.action:disabled {

    box-shadow: 0px 0px 0px;
    background-color: #696969;

}



.button {

    text-decoration: none;
    background: #363636;
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;

    box-shadow: 0px 0px 10px #aaa;

    width: max-content;
    height: max-content;

    margin-left: auto;
    margin-right: auto;

    display: block;

    margin-top: 10px;

    user-select: none;
}

.button:hover {

    background: #363650;
    cursor: pointer;

}

.button:active {

    background: #0e1729;
    box-shadow: 0px 0px 0px;

}

textarea {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    min-width: 385px;
    min-height: 200px
}

.files {

    padding-top: 10px;
    display: block;
    float: left;
    clear: left;

}

#current-time:hover {

    cursor: default;
    user-select: none;

}

#notice {

    color: green;

}

#admin_panel{

    margin-bottom: 100px;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(193, 193, 193);
    color: rgb(151, 151, 151);
    text-align: center;
    z-index: 999;
}
